langgraph
langgraph-cli[inmem]
python-dotenv
ipywidgets
requests
numpy
openai
gradio
langchain
tiktoken
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
datasets
chromadb
langfuse>=2.0.0
langfuse[langchain]>=2.0.0